# This Github workflow will create a new release when a version tag is pushed,
# and will publish it to the crates.io registery.

name: release
on:
    push:
        tags:
            - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
    create-release:
        name: create-release
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - name: Create Github Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

    check-release:
        name: check-release
        permissions:
            contents: read
        runs-on: ubuntu-latest
        container:
            image: rust:latest
        steps:
            - uses: actions/checkout@v4
            - name: publish-dry-run
              run: cargo publish --all-features --dry-run

    publish-release:
        name: publish-release
        permissions:
            contents: read
        runs-on: ubuntu-latest
        container:
            image: rust:latest
        steps:
            - uses: actions/checkout@v4
            - name: publish
              run: cargo publish --all-features --no-verify
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
